$lineHeight: 2em;

.icon {
    font-size: $lineHeight;
    padding: 0px 10px 0px 0px;
}

.tubeIcon {
    color: #3375ff;
}

.busIcon {
    color: #ff4040;
}

.header {
    line-height: $lineHeight;
    padding: 10px 0em;

    h3 {
        margin: 0px;
    }
}

.container {
    padding: 0px 50px 0px 0px;
}

.arrivalTable {
    font-size: 1.1em;
    line-height: 1.5em;
    
    td {
        vertical-align: top;
    }
}

.lineHeader {
    width: 150px;
}

.arrivalTimeHeader {
    width: 200px;
}
