.RouteSelector {
    padding: 2em;
    font-size: 1.5em;
}

.LinkContainer {
    padding: 0.5em;

    a {
        color: white;
        font-weight: 700;
        text-decoration: none;

        span {
            &:hover {
                border-style: solid;
                border-color: white;
                border-width: 0 0 2px 0;
                padding: 0 0 2px 0;
            }
        }
    }
}